.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}


.modal-content {
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
    background-color: white;
}

.buttondiv {
    text-align: right;
}

.buttondiv button {
    border: none;
}
