.error {
    color: red;
}

.new-review-form .star {
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.new-review-form .star.active {
    color: black;
}

#postreviewform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#postreviewform textarea {
    width: 100%;
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    height: 100px;
    resize: none;
}

#starRate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#reviewButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workingbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
}

.disabledbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: black;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
}
