.error {
    color: red;
    height: 15px;
    margin: 3px;
}

.new-review-form .star {
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.new-review-form .star.active {
    color: black;
}

#postreviewform {
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
}
