.error {
    color: red;
    margin-left: 5px;
}

.createSpotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.createSpotContainer input {
    margin-bottom: 8px;
    width: 100%;
}

.createSpotContainer form {
    width: 25%;
}


.headingInfo {
    width: 25%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.createTitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subheader {
    font-size: 22px;
    font-weight: bold;
}

.labelfield {
    display: flex;
    flex-direction: row;
}

.sidebyside {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.spotlocationdetails,
.descriptioncontainer {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.captioninfo {
    margin-bottom: 10px;
    margin-top: 5px;
}

.descriptioncontainer textarea {
    height: 100px;
    resize: none;
    width: 100%;
    margin-bottom: 8px;
}

.createspotbutt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    width: 30%;
    padding: 5px;
    font-size: 15px;
}

.spotbuttcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
